#evolution,
#scale,
#dateRange,
#buttons,
#state {
    z-index: 1;
    position: relative;
    padding: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

#state {
    top: 5px;
    left: 0;
    right: 0;
    margin: auto
}

#state select {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer
}

#evolution {
    position: absolute;
    text-align: left;
    top: 80px;
    background-color: #f9f8f0;
    border-radius: 5px;
    border-color: #000;
    height: 280px;
    width: 330px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#map {
    text-align: center;
    position: absolute;
    width: 850px;
    max-width: 800px;
    margin: auto;
    height: 400px;
    bottom: -50px;
    left: 10px;
}

#map,
#svgZoom {
    position: absolute;
    max-width: 800px;
    left: 10px;
    bottom: 40px;
    height: 900px;
}

.region {
    cursor: pointer;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}

.region:hover {
    fill: #0055ff!important;
}

#province,
#region,
#nbCases,
#rt-region {
    padding: 0;
    margin: 2px
}

#nbCases-card {
    background-color: #f2df91;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: larger;
    color: white;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    margin: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#rt-region {
    background-color: #f2df91;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: larger;
    color: white;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nbCases::before {
    content: "+"
}

.nbCases {
    display: block;
    position: relative;
    top: 5px;
}

.nbCases-card {
    display: inline-block;
    position: relative;
    top: 5px;
}

.rt-region {
    display: inline-block;
    position: relative;
    top: 5px;
}

.region-info {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#province {
    font-size: x-large;
    font-weight: bold;
}

#region {
    font-size: large;
    font-style: italic;
}

.region-selected {
    position: relative;
    top: 1px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: larger;
    line-height: 30px;
    text-align: left;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

#dateRange {
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
    right: 0;
    left: 40px;
    top: 850px;
    display: block;
    font-size: xx-large;
    max-width: 800px;
    width: 700px;
}

.arrow-before {
    cursor: pointer;
    height: 60px;
    width: 40px;
    left: 720px;
    position: absolute;
    top: 860px;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    background-color: #f9f8f0;
    border-radius: 5px;
    border-color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-top-before,
.arrow-bottom-before {
    background-color: #666;
    height: 5px;
    position: relative;
    width: 30px;
    top: 28px;
    left: -22px;
}

.arrow-top-before {
    transform: rotate(-225deg);
    transform-origin: bottom right;
}

.arrow-bottom-before {
    transform: rotate(225deg);
    transform-origin: top right;
}

.arrow-after {
    cursor: pointer;
    height: 60px;
    width: 40px;
    left: 776px;
    position: absolute;
    top: 860px;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    background-color: #f9f8f0;
    border-radius: 5px;
    border-color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-top-after,
.arrow-bottom-after {
    background-color: #666;
    height: 5px;
    position: relative;
    width: 30px;
    top: 28px;
    left: 3px;
}

.arrow-top-after {
    transform: rotate(-45deg);
    transform-origin: bottom right;
}

.arrow-bottom-after {
    transform: rotate(45deg);
    transform-origin: top right;
}

#range {
    width: calc(80% - 50px);
    display: block;
    margin: auto
}

#scale {
    position: absolute;
    text-align: left;
    right: 30px;
    width: fit-content;
    background-color: #f9f8f0;
    border-radius: 5px;
    font-size: 10px;
    bottom: 100px;
    left: 700px;
    border-color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.color_range div {
    display: inline-block;
    vertical-align: middle;
}

.color_range div:first-child {
    width: 15px;
    height: 15px;
}

#chart {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

#region-name {
    background-color: rgba(255, 255, 255, 0.454);
    color: rgb(0, 0, 0);
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    max-width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    z-index: 1;
}

.fixed {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    width: intrinsic;
    position: fixed;
    margin: auto;
    bottom: 150px;
    right: 0;
    left: 0
}